* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(212, 232, 240);
    color: #333;
}

/* INÍCIO DO ESTILO DO CABEÇALHO*/
header {
    background-color: #0a1f33;
    /*Define a cor de fundo do cabeçalho.*/
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    position: sticky;
    /*para fixar o header apenas quando o usuário rolar a página.*/
    top: 0;
    /*Posiciona o cabeçalho no canto superior esquerdo da janela.*/
    left: 0;
    /*Posiciona o cabeçalho no canto superior esquerdo da janela.*/
    width: 100%;
    /*Faz com que o cabeçalho ocupe toda a largura da tela.*/
    z-index: 999;
    /* Garante que o cabeçalho fique acima dos outros elementos. Define a ordem dos elementos empilhados. Um valor maior indica que o elemento está acima dos outros*/
}

header .portal {
    font-size: 40px;
}

header .logout {
    font-size: 20px;
    margin-right: 10px;
}

header .logout:hover {
    transform: scale(1.2);
    /* Aumenta em 20% ao passar o mouse*/
    text-decoration: none;
}

/* ESTILO DA LOGO DO SENAI NO CANTO SUPERIOR ESQUERDO DO CABEÇALHO HEADER */
header .logo img {
    width: 80px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
}

/* ESTILO DA NAVEGAÇÃO DO CABEÇALHO */
nav {
    margin-right: 100px;
    font-size: 22px;
}

nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
   }

nav a:hover {
    text-decoration: none;
    color: #31a5c2;
    transition: color 0.3s;
    transform: scale(1.2);
}

/* FIM DO ESTILO DO CABEÇALHO*/


/* ESTILO DO MENU LATERAL ESQUERDO DAS PAGINAS PROFESSOR/GESTOR/ALUNO */
aside {
    width: 220px;
    height: 400px;
    float: left;
    padding: 20px;
    background-color: #122e47;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1099;
}

/* centralizando a foto do avatar */
aside .logo {
    text-align: center;
}

aside .logo img {
    width: 150px;
    border-radius: 50%;
    border: rgb(165, 161, 159) solid;
    margin-bottom: 50px;
}

aside ul {
    list-style-type: none;
    margin-bottom: 30px;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #ece6e6;
    /*cor do texto cinza claro*/
    text-decoration: none;
    /*remove o sublinhado dos links*/
    font-weight: bold;
    /*deixa o texto em negrito*/
    transition: color 0.3s;
    /*adiciona um efeito de transição suave quando a cor muda, levando 0,3 segundos*/
}

aside ul li a:hover {
    color: #31a5c2;
}

/* ÍNICIO DO EFEITO CARROSSEL NA GALERIA*/
#galeria {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide 15s infinite;
    /*melhorar isso*/
}

.slides img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* FIM DO EFEITO CARROSSEL NA GALERIA*/

/*INÍCIO ESTILO QUEM SOMOS*/
#quem-somos {
    background-color: #4f7594;
    padding: 40px 50px;
    margin-top: 40px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 50px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
    color: #031524;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* titulo da seção de quem somos */
#quem-somos h2 {
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 15px;
}

#quem-somos li {
    list-style-type: none;
}

/* FIM ESTILO QUEM SOMOS */

/* INÍCIO DO ESTILO DO CATÁLOGO DE NOTÍCIAS*/
#catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*4 colunas de tamanhos iguais*/
    gap: 20px;
    /*espaçamento entre as grids*/
    padding: 20px 70px;
   
}

.noticias {
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
    text-align: left;
    /* padding: 0px 0px; */
    color: #031524;
}

/* estilos dos cards */
.catalog-card {
    background-color: #a3cae4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* efeito de zoom */
.catalog-card:hover {
    transform: scale(1.05);
    /*aumentará o card em 5%*/
}

/* estilo da imagem do card */
.catalog-card img {
    width: 100%;
    /*tamanho da imagem*/
    border-radius: 10px;
    /*arredondamento da borda da imagem*/
}

/* título do catálogo */
.catalog-card h3 {
    font-size: 20px;
    margin: 15x 0;
    color: #030830;
    text-decoration: solid;
}

/* descrição do carro */
.catalog-card p {
    color: #030830;
    margin-bottom: 15px;
    /*insere uma margem acima, separando melhor h3 e p*/
}

.catalog-card button {
    padding: 10px 20px;
    background-color: #0b244b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* estilo do botão */
.catalog-card button:hover {
    background-color: #0056b3;
    /*efeito ao passar o mouse*/
}

/* FIM DO ESTILO DO CATÁLOGO */

/* INÍCIO DO ESTILO DO FORMULÁRIO DE CONTATO */
#contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*2 colunas de tamanhos iguais*/
    gap: 10px;
    /*espaçamento entre as grids*/
    padding: 30px 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 1px ;

}

.mapa {
    padding: 80px 80px;
    margin-top: 80px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
    color: #031524;
}

.mapa iframe {
    display: block;
    margin: auto;
    width: 70%;
    height: 70%;
}

.mapa h6{
    text-align: center;
}

.contact-form {
    /* background-color: #4f7594; */
    padding: 80px 80px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
    color: #031524;
}

/* titulo da seção de contato */
.contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* estilo dos labels */
.contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    width: 100%;
    
}

/* estilos dos campos do formulário de contato */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid #1c1650
    border-radius: 5px;
    }

/* estilo do botão */
.contact-form button {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color: #0b244b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
    /*cor ao passar o mouse no botão de enviar contato*/
}

/* FIM DO ESTILO DO FORMULÁRIO DE CONTATO */

/* INÍCIO DO ESTILO DO RODAPÉ DA PÁGINA */
footer {
    background-color: #0a1f33;
    ;
    /* Cor de fundo escura para o rodapé */
    color: white;
    /* Cor do texto branca */
    text-align: center;
    /* Centraliza o texto no rodapé */
    padding: 10px 0;
    /* Espaçamento interno no topo e embaixo */
    margin-top: 40px;
    /* Espaçamento superior para separar o rodapé do conteúdo principal */
    position: relative;
    /*ficar no final fixo*/
    bottom: 0;
    /*sem espaçamento abaixo dele*/
    width: 100%;
    /* ocupa a largura total da tela*/

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*3 colunas de tamanhos iguais*/
    gap: 20px;
    /*espaçamento entre as grids*/
    padding: 40px 50px;
}

/* FIM DO ESTILO DO RODAPÉ DA PÁGINA */